:root{
        --shadow: inset 0px 0px 49px 31px rgba(0,0,0,0.93);
}
.shadow{ 
        /* -moz-box-shadow:    var(--shadow);
        -webkit-box-shadow: var(--shadow);
        box-shadow:         var(--shadow); */
        /* inset 5px 5px 20px 14px rgba(0,0,0,0.49) */
     /* width: 100vw;
     height: 100vh;
     z-index: 9;
     position: absolute; */
}