:root{
        --shadow: inset 0px 0px 49px 31px rgba(0,0,0,0.93);
        --margins: 40px;
}

/* #diamond {
        width: 0;
        height: 0;
        border: 50vw solid transparent;
        border-bottom-color: whitesmoke;
        position: relative;
        transform: skew(45deg) scale(200%);
}
#diamond:after {
        content: '';
        position: absolute;
        left: -25vw;
        top: 25vw;
        width: 0;
        height: 0;
        border: 50vw solid transparent;
        border-top-color: whitesmoke;
      } */