*{
    box-sizing: border-box;
}
#canvas{
    display: block;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}
#Sine{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100vw;
    height: 100vh;
}