body *{
  font-size: calc(16px + (8-2)*(100vw -300px)/(800-400));
}
/* @media (min-width: 300px) {
    #root * {
      font-size: 0.74rem;
    }
  }
  @media (min-width: 400px) {
    #root * {
      font-size: 0.78rem;
    }
  }
  @media (min-width: 500px) {
    #root * {
      font-size: 0.82rem;
    }
  }
  @media (min-width: 600px) {
    #root * {
      font-size: 0.86rem;
    }
  }
  @media (min-width: 700px) {
    #root * {
      font-size: 0.9rem;
    }
  }
  @media (min-width: 800px) {
    #root * {
      font-size: 1rem;
    }
  }
  @media (min-width: 900px) {
    #root * {
      font-size: 1.1rem;
    }
  }
  @media (min-width: 1000px) {
    #root * {
      font-size: 1.3rem;
    }
  } */